<h1>我要成為海賊王</h1>
<hr>

<ul>
    <li ng-repeat="task in tasks">
       <button ng-click="deleteHandler(task.id)">delete</button> {{task.title}} 
    </li>
</ul>

<hr>
<form action="/task/create" method="POST">
    <input type="text" ng-model="task" name="title" placeholder="請填入您的大名">
    <input type="submit" ng-click="submitHandler()" value="加入">
</form>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>

<script>
function taskController($scope) {

    io.socket.on("connect", function () {
    
        io.socket.on("task", function (result) {
            if (result.verb === "destroyed") {
                var index = _.findIndex($scope.tasks, {
                    id: result.id
                });
                $scope.tasks.splice(index, 1);
                
            } else {
                console.log(result);
                $scope.tasks.push(result.data);
            }
            
            $scope.$apply();
        });
        
        io.socket.get("/task", function (tasks) {
          
            $scope.tasks = tasks;
            $scope.$apply();
        });
    });
    
     $scope.deleteHandler = function (id) {
        io.socket.delete("/task", {
            id: id
        }, function (result) {
            var index = _.findIndex($scope.tasks, {
                id: result.id
            });
            
            $scope.tasks.splice(index, 1);
            $scope.$apply();
            console.log(result);
        });
    };

    $scope.submitHandler = function() {
        io.socket.post("/task", {
            title: $scope.task
        }, function (result) {
            $scope.tasks.push(result);
            $scope.task = "";
            $scope.$apply();
        
        })
    };
}



$("form").on("submit", function (e) {
    return false;
});


</script>
