<h1>我要成為海賊王</h1>
<hr>
<li ng-repeat="task in tasks">
        {{task.title}}
    </li>
</ul>
<ul></ul>

<hr>
<form action="/task/create" method="POST">
    <input type="text" name="title" placeholder="請填入您的大名">
    <input type="submit" value="歡迎加入">
</form>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"> </script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular.min.js"> </script>

<script>

function taskController($scope) {

        io.socket.on("connect", function () {
          io.socket.get("/task", function (tasks) {
          
            $scope.tasks = tasks;
            $scope.$apply();
        });
    });


    $scope.submitHandler = function() {
       io.socket.post("/task", {
            title: $scope.task
    }, function (result) {
        $scope.tasks.push(result);
        $scope.$apply();
        })
    };
}
 
$("form").on("submit", function (e) {

    $.post("/task/create", {
        title: $("input[name=title]").val()
    },function (result) {
        window.location.reload();
    })
    
    return false;
});


</script>